<!DOCTYPE html>
<html>
  <head>    
    <title>Pulse Check</title>
  </head>
  <body>
    <!-- TODO: consider how best to semantically structure the page -->
    <!-- TODO: figure out if I need any validation - e.g., to prevent malicious or silly use -->    
    <form action="{{ url_for('main') }}" method="POST">
      <ul>
        <li>
          <label for="topic_field">Topic:</label>        
          <input type="text" id="topic_field" name="topic" required>
        </li>
        <li>
          <button type="submit">Predict sentiment</button>
        </li>
      </ul>      
    </form>
    <!-- TODO: deal with case where there's no result -->      
    {% if sentiment_percentages %}
      <h2>Predicted sentiment for topic: {{ original_topic }}</h2>
      <h3>Total number of tweets analysed: {{ total_tweets }}</h3> <!-- Q: should this be h3? -->
      <p>                
        Positive: {{ sentiment_percentages["positive"] }}%
        {% for id in tweet_ids["positive"] %}
        <li>          
            <a href="{{ tweet_base_url }}/{{ id }}">Tweet {{ loop.index0 + 1 }}</a>          
        </li>
        {% endfor %}
      </p>                
      <p>
        Neutral: {{ sentiment_percentages["neutral"] }}%
        {% for id in tweet_ids["neutral"] %}
        <li>          
            <a href="{{ tweet_base_url }}/{{ id }}">Tweet {{ loop.index0 + 1 }}</a>          
        </li>
        {% endfor %}
      </p>
      <p>
        Negative: {{ sentiment_percentages["negative"] }}%
        {% for id in tweet_ids["negative"] %}
        <li>          
            <a href="{{ tweet_base_url }}/{{ id }}">Tweet {{ loop.index0 + 1 }}</a>          
        </li>
        {% endfor %}
      </p>
    {% endif %}
  </body>  
</html>