<!DOCTYPE html>
<html lang="en">
  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Caleb O.">
    <meta name="description" content="Pulse Check is a tool that analyses the sentiment 
                                      of tweets based on a given topic, using a Naive 
                                      Bayes Classifier, a machine learning model often used 
                                      for text classification and other natural language 
                                      processing tasks.">
    
    <link href="https://fonts.googleapis.com/css2?family=Commissioner&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">    

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    
    <title>Pulse Check</title>
  </head>
  <body>
    <header>
      <h1>Pulse Check</h1>
    </header>
    <main>
      <p>
        Enter and submit a topic below. Pulse Check will 
        predict the sentiment of the most recent tweets related to that topic, 
        up to a maximum of 20 tweets. Currently, Pulse Check only supports English tweets.
      </p>      
      <form action="{{ url_for('main') }}" 
            method="GET" 
            autocomplete="off">
        <ul>
          <li>
            <label for="topic_field">Topic:</label>                  
            <input type="text" 
                   id="topic_field" 
                   name="topic" 
                   maxlength=512
                   pattern="^[0-9a-zA-Z]+(\s*[0-9a-zA-Z]+)*$"                  
                   spellcheck="false"
                   required>
          </li>
          <li>
            <button type="submit">Predict sentiment</button>
          </li>
        </ul>      
      </form>
      {% if sentiment_percentages %}
        <h2>Predicted sentiment for topic: {{ original_topic }}</h2>
        <p>Total number of tweets analysed: {{ total_tweets }}</p> 
        <p>                
          Positive: {{ sentiment_percentages["positive"] }}%
          <ol>
            {% for author_id, tweet_id in tweet_ids["positive"] %}
            <li>          
              <a href="https://twitter.com/{{ author_id }}/status/{{ tweet_id }}">Tweet {{ loop.index0 + 1 }}</a>            
            </li>
            {% endfor %}
          </ol>          
        </p>                      
        <p>
          Negative: {{ sentiment_percentages["negative"] }}%
          <ol>
            {% for author_id, tweet_id in tweet_ids["negative"] %}
            <li>          
              <a href="https://twitter.com/{{ author_id }}/status/{{ tweet_id }}">Tweet {{ loop.index0 + 1 }}</a>              
            </li>
            {% endfor %}
          </ol>          
        </p>
      {% elif no_show %}
        <p>
          No tweets can be analysed at this time. Please try again later.
        </p>
      {% endif %}
    </main>    
    <footer>
      Crafted by <a href="https://github.com/calebowusu">Caleb O.</a> - &copy; 2020
    </footer>
  </body>  
</html>
